


.header {
    background-color: #333333 !important;
}

.subtitle {
    color: #555;
    font-family: 'Baskervville', serif;
    
}

.text {
    color: #030104;
    font-family: 'Cormorant', serif;
    
}

.alttext{
    color: #FDFCFD !important;
    font-family: 'Cormorant', serif;
    
}

body {
    background-color: #EEEEEE !important;
}

  
html {
  position: relative;
  min-height: 100%;
}


.footer {
  margin-top: auto;
  width: 100%;
  background-color: #333333 !important;
  padding: 2%;
}

.contentarea {
    border-radius : 10px;
    padding: 1%;
    margin: 1%;
    

}

.brandname {
    font-family: 'Tangerine', cursive;
    font-size: xx-large !important;
}